.aboutContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 20px;
}

.dockImage {
    background: #121212;
    width: 90vw;
    max-width: 700px;
    aspect-ratio: 2048 / 1638;
    position: relative;
}

.portrait {
    background: #121212;
    width: 90vw;
    max-width: 700px;
    aspect-ratio: 1366 / 2048;
    position: relative;
}

.aboutContainer > p {
    max-width: 700px;
}