.container {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 15px;
}

.container > h1 {
    text-decoration: underline;
}

.emailContact {
    text-align: center;
}

.container a {
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form > textarea {
    resize: none;
    height: 150px;
    font-size: 1rem;
    width: 370px;
    font-family: 'Francois One', sans-serif;
    padding: 5px;
}

.form > textarea:focus {
    outline-width: 0;
}

.name {
    width: 250px;
    height: 30px;
    font-family: 'Francois One', sans-serif;
    font-size: 1rem;
}

.name:focus {
    outline-width: 0;
}

.email {
    width: 250px;
    height: 30px;
    font-family: 'Francois One', sans-serif;
    font-size: 1rem;
}

.email:focus {
    outline-width: 0;
}

.form > button {
    width: 50px;
    border-radius: none;
    font-family: 'Francois One', sans-serif;
    background: white;
    color: black !important;
    border-style: none;
    cursor: pointer;
}

.form > p {
    height: 10px;
}

.socialsContainer {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}