/* * To undo the fixed subcategories, simply take position off
* of fixed and then remove the invisible div in photography.js Also remove z-index here and navParent.
* */

.subcategories {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.invisNav {
    width: 100%;
    height: 50px;
}

.subTitles {
    flex-grow: 1;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.overflowContainer {
    width: 100vw;
    overflow: hidden;
}

.photoContainer {
    display: flex;
    flex-direction: row;
    width: 300%;
    margin-bottom: 30px;
}

.column {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


