.topContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.description {
    margin-top: 25px;
    width: 95vw;
    max-width: 900px; 
}

.iframe {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.iframe::-webkit-scrollbar {
    display: none;
}

